$background: #303538;
$text: #FFFFFF;
$back_principal: #303538;
$link: #ffcc00;
$link_hover: #fcf64b;

body {
  background-color: $background;
  color: $text;
  text-align: center;
  margin-top: 30px;
}

a {
  color: $link;

  &:hover {
    color: $link_hover;
    text-decoration: none;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
}

img#logo {
  max-width: 100px;
  margin-bottom: 20px;
}

ul.list {
  list-style-type: none;
  padding: 0;
  float: none;
  margin: 0 auto;
  margin-top: 20px;
}

ul.list li.item-list:first-child {
  border-top: 1px solid $text;
}

li.item-list {
  border-bottom: 1px solid $text;
  font-size: 20px;
  padding: 10px;

}

span#visitors {
  font-size: 100px;
  color: $link;
}