extends ../layout

block scripts
    script(src='/scripts/meetings.js')

block content
    a.btn.btn-default(href="/meetings")
        span.glyphicon.glyphicon-chevron-left Back
    h1 #{meeting}
    span#visitors #{visitors}
